<%- include("template/head", {titlePath: "lista de productos"}) %>
<body>
    <h1>Lista de productos </h1>
    <div class="container list">
        <div class="Card-Container">
            <div class='img-container'>
                <img
                    class="product-img"
                    src="url"
                    alt="imagen de ejemplo"
                />
            </div>
            <h3 class="title">Soy producto</h3>
            <p class="price">$1234</p>
            <p class="description">
                Descripcion del producto en cuestion que va a venir por JSON
            </p>
            <button class="chart-btn">Añadir al carrito</button>
        </div>
    </div>
</body>
</html>