<%- include("../partials/head.ejs", {titlePath: "producs"}) %>
    <div>    
        <h1>Lista de productos </h1>
        <div class="Products-Container">
            <% if( list.length == 0 ) {%>
                <h2>Aun no hay productos 😒 </h2>
                <a href="/"> Cargar uno </a>
            <% } else{ %>
                <% list.forEach((product)=>{ %>
                    <div class="Card-Container">
                        <div class='img-container'>
                            <img
                                class="product-img"
                                src= "<%- product.thumbnail %>" 
                                width="100px"
                                alt="imagen de ejemplo"
                            />
                        </div>
                        <h3 class="title"><%- product.title %> </h3>
                        <p class="price">$ <%- product.price %> </p>
                        <p class="description">
                            Descripcion del producto en cuestion que va a venir por JSON
                        </p>
                        <button class="chart-btn">Añadir al carrito</button>
                    </div>
                <% }) %>
            <% } %>  
        </div>
    </div>
</body>
</html>